@model InfoTrackSEOResultsCount.Models.SearchOutput

@{
    ViewBag.Title = "SearchOutput";
}

<div>
    <h4>Your input URL appeared on @Model.SearchEngine search as per the table below</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Page Number 
            </th>
            <th>
                URL Count
            </th>
        </tr>

        @foreach (var item in Model.SearchResults)
        {
            <tr>
                <td>
                    @item.PageNumber
                </td>
                <td>
                   @item.URLCount
                </td>
            </tr>
        }

    </table>
</div>
<p>    
    @Html.ActionLink("Back to Search", "Search" )
</p>
